/* *********************** DEFAULTS ************************************* */

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font: 1.6rem Helvetica;
  margin: 0;
  display: grid;
  height: 100vh;
  grid-template-rows: auto 1fr auto;
}

.button {
  font-size: 1.6rem;
}

.full-width {
  width: 100%;
}

#root {
  height: 100%;
}

a {
  text-decoration: none;
}

a:hover {
  color: var(--secondary-color);
}

.loadingScreen{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


.errorScreen{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}



/* ********************   HEADER SECETION ************************************ */

:root{
  --primary-color: #1ec9c0;
  --secondary-color: #0fa59d;
}



.header-wrapper {
 
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  height: 10rem;
  border-bottom: 1px var(--primary-color) solid;
  background-color: #f8f8f8;
}

.brand {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10rem;
  width: 10rem;
}




.header-links a {
  padding: 1rem;
  font-size: 2rem;
  font-weight: bold;
  text-decoration: none;
  /* color: white; */
  color: var(--primary-color);
}

.header-links a:hover {
  color: var(--secondary-color);
}

.cart-button {
  /* border: 1px white solid; */
  border: 1px var(--primary-color) solid;
  margin-right: 1rem;
  border-radius: .5rem;
  text-decoration: none;
}

.cart-button:hover {
  /* border: 1px white solid; */
  border: 1px var(--secondary-color) solid;
  margin-right: 1rem;
  border-radius: .5rem;
  text-decoration: none;
}






/*** Side Bar ****/

.header-shopping-list-heading{
  font-size: 3rem;
}

.brand button {
  color: var(--primary-color);
  font-size: 2rem;
  padding: 0.5rem;
  border: none;
  background: none;
  cursor: pointer;
}

.sidebar {
  position: fixed;
  transform: translateX(-101vw);
  width: 100vw;
  transition: all 0.5s;
  padding: 0 0 0 1.4rem;
  background-color: white;
  height: 100vh;
  display: flex;
  z-index: 2;
}

.brand button:active {
  color: black;
  font-size: 2rem;
  padding: 0.5rem;
  border: none;
  background: none;
  cursor: pointer;
}

ul {
  margin: 0;
  padding: 0;
}

.sidebar.open {
  transform: translateX(0);
}

.header-shopping-list {
  padding: 3.5rem 2rem 0rem 2rem;
  width: 28rem;
}

.landing-shopping-list {
  color: black;
  line-height: 3rem;
}

.landing-shopping-list a {
  text-decoration: none;
  list-style: none;
  color: black;
}

.sidebar-list{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.8rem;
}



/************************** Home Screen *******************************************/

.products {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 4rem;
}

.products li {
  list-style-type: none;
  padding: 1rem;
  flex: 0 1 25rem;
  margin: 1rem;
  height: 42rem;
  box-shadow: 0 0rem 1rem 0.1rem rgba(0, 0, 0, 0.25);
  border-radius: 1rem 1rem 1rem 1rem;
}

.product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  /* border-bottom: .1rem black solid; */
}

.product-name a {
  font-size: 1.5em;
  font-weight: bold;
  text-decoration: none;
}

.product-brand {
  font-size: 1.2em;
  color: #808080;
}

.product-price {
  font-size: 1.2em;
  font-weight: bold;
}

.product-image {
  width: 100%;
  height: 30rem;
}

.product-rating {
  margin-bottom: 1rem;
}

.product-rating,
.product-price,
.product-brand,
.product-name a {
  padding-left: 1rem;
}

/******************************* Product Details *************************************/


.details {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 1rem;
  width: 100%;
  font-size: 1.5rem;
  
}

.product-brand img{
  width: 100%;
}

.details-image {
  flex: 2 1 60rem;
  width: 60rem;
}



.details-info {
  flex: 1 1 20rem;
}

.details-action {
  flex: 1 1 20rem;
}

ul {
  list-style-type: none;
}

.details-info ul,
.details-action ul {
  list-style-type: none;
  padding: 0;
}

.details-info li,
.details-action li {
  margin-bottom: 1rem;
}

.back-to-results {
  font-size: 1.5rem;
  text-decoration: none;
  padding: 1rem 0rem 0rem 2rem;
}

.details-action {
  border: 0.1rem #808080 solid;
  border-radius: 0.5rem;
  background-color: #f8f8f8;
  padding: 1rem;
}

.details-action ul li:last-child {
  display: flex;
  flex-direction: column;
}

.button {
  padding: 1rem;
  border: 0.1rem #808080 solid;
  border-radius: 0.5rem;
  cursor: pointer;
}


.button {
  background-color:  var(--primary-color);
  color: white;
}

.button:hover {
  background-color:  var(--secondary-color);
  color: white;
}


@media (min-width: 800px) {
  .down {
    columns: 3;
  }
}

/****************************************** Cart *********************************/

.cart {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  margin: 2rem;
}

.cart-empty {

    display: flex;
    margin: 1rem;
    flex-wrap: wrap;
    height: 60vh;
  
}

.cart-empty-text{
  padding-top: 1rem;
  font-size: 1.5rem;
}

.cart-list {
  flex: 3 1 60rem;
}

.cart-action {
  flex: 1 1 20rem;
  border-radius: 0.5rem;
  padding: 1rem;
  font-size: 6rem;
}

.cart-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-list-container {
  padding: 1rem;
  list-style-type: none;
}

.cart-list-container li {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border-bottom: 0.1rem solid #c0c0c0;

  padding-bottom: 1rem;
}

.cart-list-container li img {
  max-width: 20rem;
  max-height: 20rem;
}

.cart-list-container li:first-child {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-name {
  flex: 8 1;
  
  height: 10rem;
  margin: .5rem;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  
}

.cart-qty{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 19rem;
  height: 3rem;
  
}


.cart-select-button{
  margin-left: 1rem;
  width: 6rem;
}



.cart-delete-button{
  border: 1px solid var(--secondary-color);
  background-color: var(--secondary-color);
  color: white;
  border-radius: .5rem;
  width: 7rem;
  height: 3rem;
  font-size: 1.5rem;
}

.cart-image {
  flex: 1 1;
}

.cart-price {
  flex: 1 1;
  font-size: 2.5rem;
  text-align: right;
}

.cart-action-summary {
  border-bottom: 0.1rem solid #c0c0c0;
  padding-bottom: 1rem;

}


.cart-action-subTotal, .cart-action-total{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 1rem;
  line-height: 1rem;
  font-size: 1.5rem;
}

/* ****************************  FOOTER SECTION  ************************************************ */
.footer-wrapper {
  background-color: var(--primary-color);
  color: white;
}

.footer-upper-container {
  margin-bottom: -12rem;
}

.footer-upper {
  padding-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.footer-about,
.footer-shop {
  line-height: 3rem;
}

.footer-upper-heading {
  font-weight: bold;
  font-size: 2rem;
}

#copyright {
  text-align: center;
  padding-top: 2em;
  margin-top: 5em;
}

#copyright ul {
  display: inline-block;
  border-radius: 0.35em;
  padding: 0.75em 2em;
}

#copyright ul li {
  display: inline-block;
  margin-left: 1em;
  padding-left: 1em;
  border-left: solid 1px #333;
  border-left-color: rgba(255, 255, 255, 0.05);
}

#copyright ul li:first-child {
  border-left: 0;
  margin-left: 0;
  padding-left: 0;
}

#copyright a {
  color: inherit;
}

#copyright p {
  font-size: 1.2rem;;
}

#copyright a:hover {
  color: #fff;
}

.footer-list-color {
  color: white;
  font-size: 1.5rem;
}

/* ************************** SIGN IN SECTION ************************************************* */
.signin-form {
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}

.form-container {
  width: 30rem;
  height: 30rem;
  padding: 1rem;
}

.email-container,
.password-container {
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: initial;
  flex-direction: column;
  margin-bottom: 2rem;
}

input {
  height: 2.5rem;
  padding: 0.5rem;
  border: 1px solid gray;
}

 /* {
  height: 3.5rem;
  width: 8rem;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius: 0.5rem;
 
} */

.forgot-password {
  margin: 1.5rem 0rem;
}

.signUp-link, .signin-button{
  height: 3.5rem;
  border: 1px solid var(--primary-color);
  border-radius: 0.5rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  color: var(--primary-color);
  text-decoration: none;
}

.signUp-link-text {
  text-decoration: none;
  color: var(--primary-color);
}

.signUp-link:hover, .signin-button:hover{
  height: 3.5rem;
  background-color: var(--secondary-color);
  border-radius: 0.5rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  color: white;
  text-decoration: none;
}

/* .signUp-link-text:hover {
  text-decoration: none;
  color: white;
} */







@media (max-width: 359px) {

  .brand {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10rem;
    width: 3rem;
  }

  .brand-name h1 {
    height: 7rem;
    font-size: 3.5rem;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--primary-color);
  }

  .header-links a {
    padding: 0.5rem;
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--primary-color);
  }

  .carousel-container{
    height: 70vh;
    width: 100vw;
  }

  .landing-carousel{
    height: 100%;
    width: 100%;
    filter: brightness(50%);
  }

  .cart-qty{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    height: 13rem;
    width: 7rem;
    
    
  }
  
  .cart-select-button{
    margin-left: .2rem;
    width: 4rem;
  }




  .footer #copyright {
    text-align: center;
    padding-top: 2em;
    margin-top: 10em;
  }
}

@media (min-width: 360px) and (max-width: 578px) {

  .brand {
    width: 3rem;
  }

  .brand button {
    color: var(--primary-color);
    font-size: 2rem;
    padding: 0.5rem;
    border: none;
    background: none;
    cursor: pointer;
  }
  
  .brand-name a h1{
    height: 7rem;
    font-size: 4rem;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--primary-color);
  }

  

  .landing-carousel{
    height: 80vh;
    width: 100vw;
  }
  

  .header-links a {
    padding: 0.5rem;
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--primary-color);
  }

  .cart-qty{
    display: flex;
    flex-direction: column;
    align-items: initial;
    justify-content: space-between;
    height: 13rem;
    width: 9rem;
    
  }
  
  .cart-select-button{
    margin-left: .4rem;
    width: 6rem;
  }

  .cart-delete-button{
    border: 1px solid var(--secondary-color);
    background-color: var(--secondary-color);
    color: white;
    border-radius: .5rem;
    width: 9rem;
    height: 3rem;
    font-size: 1.5rem;
  }


  .footer #copyright {
    text-align: center;
    padding-top: 2em;
    margin-top: 10em;
  }
}

@media (min-width: 580px) {

  .brand-name a h1{
    height: 7rem;
    font-size: 5rem;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--primary-color);
  }
  
  button.add {
    display: none;
  }

  .carousel-container{
    height: 60vh;
    width: 100vw;
  }

  .landing-carousel{
    height: 100%;
    width: 100%;
    filter: brightness(50%);
  }


  
  .landing-carousel-text-1  {
    margin-bottom: 29rem;
    height: 13rem;
  }

  .landing-carousel-text-1 h3{
    font-size: 2rem;
    line-height: 3rem;
  }

  .landing-carousel-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height:  100%;
  }

  .landing-carousel-button{
    font-size: 2.5rem;
    border: 1px solid var(--primary-color);
    width: 25rem;
    margin: 15rem auto;
  }


  .footer #copyright {
    text-align: center;
    padding-top: 2em;
    margin-top: 10em;
  }


}

@media (min-width: 1200px) {
  button.add {
    display: none;
  }

 
  .carousel-container{
    height: 100vh;
    width: 98.8vw;
  }

   .landing-carousel-text-1  {
    margin-bottom: 29rem;
    height: 13rem;
  }

  .landing-carousel-text-1 h3{
    font-size: 2rem;
    line-height: 3rem;
  }

  .landing-carousel-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height:  100%;
  }

  .landing-carousel-button{
    font-size: 3rem;
    border: 1px solid var(--primary-color);
    width: 40rem;
    margin: 15rem auto;
  }

  .landing-carousel-button:hover{
    font-size: 3.5rem;
    border: 2px solid var(--primary-color);
    width: 42rem;
    margin: 14.5rem auto;
    transition: all .5s;
    box-shadow: 0 0rem 1rem 0.1rem rgba(0, 0, 0, 0.25);
  }

  
  
}

@media (min-width: 1400px) {
  
  .brand-name a h1{
    font-size: 7rem;
  }
  
}
